*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    user-select: none;
    scroll-behavior: smooth;
}


body{
    text-align: center;
}

form{
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    max-width: 500px;
}
input,textarea{
    font-size:.8rem;
    font-family: 'Roboto', sans-serif;
}
input{
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}
textarea{
    min-width: 200px;
    max-width: 100%;
    min-height: 50px;;
    max-height: 200px
}
input[type="submit"]{
    cursor: pointer;
    margin: 20px auto;
    width: 150px;
}
input[type="submit"]:active{
    transform: scale(.9);
}
input::placeholder,textarea::placeholder{
    padding-top: 5px;
    text-align: center;
}

.none{
    display: none;
    /* animation: tooltips-vert 400ms ease-out; */
    /* transform: translateY(-10px); */
    /* transition: display 5s; */
}

.contact-form [required]:valid{
    border: thin solid green;
}
.contact-form [required]:invalid{
    border: thin solid  #CC4545;
}


.pError{
    transition: all 900ms ease;
}

@keyframes show-message {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

/*manejo del loader*/

.contact-form-loader{
    margin: 37vh auto;
}
.contact-form-response{
    font-size:1.1rem;
}
#loader{
    width: 340px;
    height: 180px;

}